[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
[alias]
	tree = !git branch -a && git log --oneline --graph
	sync = !git fetch --all --prune && git pull --stat --ff-only
	vary = diff --name-only HEAD
	join = merge --verbose --log --stat --no-commit
